sentinel resolve-hostnames yes
sentinel announce-hostnames yes

sentinel announce-ip ${SENTINEL_HOSTNAME_PREFIX}${REDISWARM_SLOT}
sentinel monitor rediswarm ${REDIS_PRIMARY_ADDR} ${REDIS_PRIMARY_PORT} ${SENTINEL_QUORUM}
sentinel down-after-milliseconds rediswarm 5000
sentinel failover-timeout rediswarm 60000
sentinel parallel-syncs rediswarm 1
sentinel config-epoch rediswarm 0

sentinel auth-pass rediswarm ${REDISWARM_SECRET}